@font-face {
  font-family: "iconfont"; /* Project id 4663443 */
  src: url('iconfont.woff2?t=1724505702437') format('woff2'),
       url('iconfont.woff?t=1724505702437') format('woff'),
       url('iconfont.ttf?t=1724505702437') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cilitaosuo:before {
  content: "\e658";
}

.icon-cili:before {
  content: "\e602";
}

.icon-nvren:before {
  content: "\e600";
}

.icon-guge:before {
  content: "\e615";
}

.icon-Group:before {
  content: "\e601";
}

.icon-biying:before {
  content: "\e68f";
}

.icon-api:before {
  content: "\e7e1";
}

